[run]
source = mitoolspro
omit =
    */tests/*
    */__init__.py
    */.venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == "__main__":
    pass
    raise ImportError

[html]
directory = coverage_html 